body {
	background-color: #7791FB;
}
/*Header Style*/
.hdnm {
	font-size: 46px;
	font-family: 'Segoe UI2';
	text-transform: uppercase;
	display: inline-block;
	margin-left: 148px;
	margin-right: 146px;
	vertical-align: middle;
	color: #FFFFFF;
}

.hdtxt {
	font-size: 20px;
	font-family: 'Segoe UI2';
	text-transform: capitalize;
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
	color: #FFFFFF;
}
.hddiv {
    float:right;
    margin-left: 140px;
	vertical-align: middle;
	border-radius: 57px;
    text-transform: uppercase;
    font-family: 'Segoe UI2';
    font-size: 20px;
	text-align: center;
	line-height:42px;
    background-color: #4CB5FF;
    width: 156px;
    height: 42px;
    color: #FFFFFF;	
}
/*Body*/
.satauri {
	font-family: 'Segoe UI';
	font-size: 56px;
	text-transform: capitalize;
	width: 550px;
	float: left;
	margin-left: 148px;
	margin-top: 90px;
	color: #FFFFFF;
}
.satauriqveda {
	font-size: 16px;
	display: inline;
	font-family: 'Segoe UI2';
	margin-top: 31px;
	float: left;
	color: #FFFFFF;
}
.banner {
	color: #FFFFFF;
	float: right;
	margin-left: 57px;
	margin-right: 136px;
	width: 500px;
	height: 500px;
}
.meoredi{
	float: left;
	width: 50%;
}
.meoredi2 {
	float: right;
	width: 50%;
	display: inline;
}
.clear {
	clear: both;
}

.getbox {
	background-color: #1E2147;
	border-radius: 57px;
	float: left;
	margin-left: 148px;
	text-align: center;
	line-height: 42px;
	margin-top: 22px;
	font-family: 'Segoe UI2';
	color: #FFFFFF;
	width: 181px;
	height: 42px;
}
.pirveliseqcia {
	height: 390px;
	padding: 20px;

}
.pirveli {
	display: inline-block;
}
.meoresatauri {
	font-family: 'Segoe UI';
	font-size: 36px;
	color: #7976FC;
    text-align: center;
	margin-top: 185px;
}
.meoretexti {
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #000000;
	text-align: center;
	margin-top: 19px;
}

.bottombox {
	background-color: white;
	margin-top: 64px;
	height: 341px;
	text-align: center;
}
/*Sul Qveda Xazi*/
.qvedaganyofileba {
	background-color: white;
	width: 100%;
	height: 250px;
	 
	overflow:hidden;
}
.meotxedi {
	width: 25%;
	height: 250px;
	text-align: center;
	float: left;
	overflow:hidden;
}
.meotxedi p {
	padding: 10px;
}
.qvedatext1 {
	font-family: 'Segoe UI2';
	font-weight: 900;
}
.qvedisqveda1 {
	font-family: 'Segoe UI2';
}
.meoreseqcia {
	height: 178px;
}
.mesameseqcia {
	height: auto;
	overflow: hidden;
}
.meotxeseqcia {
    height: 183px;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    padding: 60px;
}
.meotxesatauri {
	text-transform: capitalize;
	font-family: 'Segoe UI2';
	font-size: 36px;
	float: left;
	color: white;
}
.boxcard {
	width: 190px;
	float: right;
}
.meotxebox {
	background-color: #1E2147;
	border-radius: 57px;
	line-height: 42px;
	text-align: center;
	height: 42px;
	width: 181px;
	text-transform: uppercase;
	color: white;
	float: right;
}
.creditcard {
    float: right;
    font-family: 'Segoe UI2';
    font-size: 16px;
    color: white;
}


.mexutesatauri {
	font-size: 36px;
	font-family: 'Segoe UI';
	color: #7976FC;
	text-align: center;
}
.mexutesataurisgaggrzeleba {
	font-size: 16px;
	font-family: 'Segoe UI';
	color: #000000;
	text-align: center;
}
.mexuteseqcia {
	background-color: white;
	height: 877px;
	padding-top: 91px;
}
.surati1 {
	width: 842px;
	height: 616px;
	display: block;
	margin: auto;
}
.meeqvseseqcia {
    height: 183px;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    padding: 68px;
}
.meeqvsesat {
	font-family: 'Segoe UI2';
	font-size: 36px;
	color: white;
	vertical-align: center;
}
.startour {
	background-color: #1E2147;
	font-family: 'Segoe UI2';
	font-size: 20px;
	border-radius: 57px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	width: 181px;
	height: 42px;
	color: white;
	float: right;
	vertical-align: center;
}
.meshvideseqcia {
   background-color: white;
   padding-bottom: 88px;
}
.meshvidetext {
	font-family: 'Segoe UI';
	font-size: 36px;
	color: #7976FC;
	text-align: center;
}
.meshvidespan {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #000000;
    text-align: center;

}
.qvedayuti {
    padding: auto;
}
.severboxes {
	width: 1088px;
	height: 698px;
	display:flex;
    flex-wrap: wrap;
	justify-content: center;
	margin:auto;

}
.severbox {
	width: 270px;
	height: 150px;
	justify-content: center;

}
.webserver {
	font-family: 'Segoe UI2';
	font-size: 16px;
	font-weight: bold;
}
.webservertext {
	font-family: 'Segoe UI2';
	font-size: 16px;
}
.navigacia {
	position: fixed;
	background-color: #7791FB;
	width: 100%;
	z-index: 2;
}
.merveseqcia {
    width: 100%;
	height: 405px;
	background-color: #7975FC;
	position: relative;
	z-index: 1;
}
.sysreq {
	font-family: 'Segoe UI';
	font-size: 36px;
	color: #FFFFFF;
	text-align: center;

}
.sysreqtxt {
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}
.line {
	height: 121px;
	width: 1px;
	margin-left: 120px;
	background-color: #FFFFFF;
	display: inline-block;
}
.mervesataurebi {
	font-family: 'Segoe UI';
	font-size: 36px;
	color: #FFFFFF;
}
.qvedamerve {
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #FFFFFF;
}

.merveganyofileba {
	width: 1020px;
	display: flex;
	justify-content: space-between;
}
.saxli {
	position: absolute;
	top: 0px;
    right: 0px;
	bottom: 0px;
	justify-content: right;
}
.boloseqcia {
	background-color: white;
	width: 100%;
	height: 488px;

}
.lastheader {
	font-family: 'Segoe UI';
	font-size: 36px;
	color: #7976FC;
}

.lastparagraph {
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #000000;
}
.lastblock {
	float:right;
	margin:auto;
}
.firstlastblock {
	float: left;
}
.bolomshobeli {
	padding-top: 87px;
	padding-left: 139px;
	padding-bottom: 18.8px;
	padding-right: 139px;
}
.lastbuttons {
	margin-top: 23px;
	background-color: #7975FC;
	width: 352px;
	height: 42px;
	border-radius: 144px;
	font-family: 'Segoe UI2';
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 42px;
	text-align: center;

}
.or {
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #000000;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 170px

}