body {
	background-color: #7791FB;
}
/*Header Style*/
.hdnm {
	font-size: 46px;
	font-family: 'Segoe UI2';
	text-transform: uppercase;
	display: inline-block;
	margin-left: 148px;
	margin-right: 146px;
	vertical-align: middle;
	color: #FFFFFF;
}
.hdtxt {
	font-size: 20px;
	font-family: 'Segoe UI2';
	text-transform: capitalize;
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
	color: #FFFFFF;
}
.hddiv {
	display: inline-block;
    margin-left: 140px;
    margin-right: 139px;
    margin-top: 18px;
    text-transform: uppercase;
    font-family: 'Segoe UI2';
    font-size: 20px;
    background-color: #4CB5FF;
    width: 156px;
    height: 42px;
    vertical-align: middle;
    color: #FFFFFF;

/*Body*/
}
.satauri {
	font-family: 'Segoe UI';
	font-size: 56px;
	text-transform: capitalize;
	width: 550px;
	float: left;
	margin-left: 148px;
	margin-top: 90px;
	color: #FFFFFF;
}
.satauriqveda {
	font-size: 16px;
	font-family: 'Segoe UI2';
	margin-top: 31px;
	float: left;
	color: #FFFFFF;
}
.banner {
	color: #FFFFFF;
	float: right;
	margin-left: 57px;
	width: 500px;
	height: 500px;
}
.meoredi{
	float: left;
	width: 50%;
}
.meoredi2 {
	float: right;
	width: 50%;
}
.clear {
	clear: both;
}

.getbox {
	background-color: #1E2147;
	float: left;
	margin-left: 148px;
	margin-top: 22px;
	font-family: 'Segoe UI2';
	color: #FFFFFF;
	width: 181px;
	height: 42px;
}
.pirveliseqcia {
	height: 390px;

}
.pirveli {
	display: inline-block;
}
.2nd {
	display: inline-block;
}
.meoresatauri {
	font-family: 'Segoe UI';
	font-size: 36px;
	color: #7976FC;
	margin-left: 343px;
	margin-right: 343px;
	margin-top: 185px;
}
.meoretexti {
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #000000;
	margin-left: 301px;
	margin-right: 294px;
	margin-top: 19px;
}

.bottombox {
	background-color: white;
	margin-top: 64px;
	height: 341px;
	text-align: center;
}
/*Sul Qveda Xazi*/
.qvedaganyofileba {
	background-color: white;
	width: 100%;
	height: 250px;
	 
	overflow:hidden;
}
.meotxedi {
	width: 25%;
	height: 250px;
	text-align: center;
	float: left;
	overflow:hidden;
}
.meotxedi p {
	padding: 10px;
}
.qvedatext1 {
	font-family: 'Segoe UI2';
	font-weight: 900;
}
.qvedisqveda1 {
	font-family: 'Segoe UI2';
}
.meoreseqcia {
	height: 178px;
}
.mesameseqcia {
	height: 334px;
}
.meotxeseqcia {
    height: 183px;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}
.meotxesatauri {
	text-transform: capitalize;
	font-family: 'Segoe UI2';
	font-size: 36px;
	float: left;
	color: white;
	margin-left: 140px;
	margin-bottom: 67px;
}
.meotxebox {
	background-color: #1E2147;
	height: 42px;
	width: 181px;
	text-transform: uppercase;
	color: white;
	float: right;
	margin-right: 140px;
	margin-bottom: 67px;
}
.creditcard {
    float: right;
    font-family: 'Segoe UI2';
    font-size: 16px;
    color: white;
}


.mexutesatauri {
	font-size: 36px;
	font-family: 'Segoe UI';
	color: #7976FC;
	text-align: center;
}
.mexutesataurisgaggrzeleba {
	font-size: 16px;
	font-family: 'Segoe UI';
	color: #000000;
	text-align: center;
}
.mexuteseqcia {
	background-color: white;
	height: 877px;
	padding-top: 91px;
}
.surati1 {
	width: 842px;
	height: 616px;
	display: block;
	margin: auto;
}